:root{
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #333;
    --color-light-gray: #f9f9f9;
    --color-blue: #007bff;
    --color-dark-blue: #0056b3;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-text-gray: #555;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-white);
    box-shadow: 0 2px 4px var(--color-shadow);
    flex-wrap: wrap;
    gap: 20px;
}

header > h1 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--color-gray);
}

nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    margin-left: 1.5rem;
}

nav > ul > li > a {
    color: var(--color-gray);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav > ul > li >  a:hover {
    color: var(--color-blue);
}

main {
    padding: 2rem;
    text-align: center;
}

#hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    padding: 2rem 0;
    background-color: var(--color-light-gray);
    flex-wrap: wrap;
}

#hero > h2 {
    font-size: 2rem;
    margin: 0 0 1rem;
}

#hero > p {
    font-size: 1.125rem;
    margin: 0 0 1.5rem;
}

#hero > div > button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color:  var(--color-white);
    background-color:  var(--color-blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#hero > div > button:hover {
    background-color:  var(--color-dark-blue);;
}

#hero > img {
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
}

#companies {
    margin-bottom: 2rem;
}

#companies > h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#companies > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    gap:1rem;
}

#testimonials {
    margin-bottom: 2rem;
    text-align: center;
  }
  
#testimonials > h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
#testimonials > .testimnonials-container {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#testimonials > .testimnonials-container > article {
    max-width: 30%;
    min-width: 300px;
    flex-direction: column;
    align-items: center;
    margin:10px;
    padding: 10px;
}
#testimonials > .testimnonials-container >article > img {
    width: 100px;
    border-radius: 100%;
    border: 2px solid black;
}


#testimonials > .testimnonials-container >article  > p {    
    color:  var(--color-text-gray);;
}

footer {
    display: flex;
    justify-content:space-around;
    background-color: var(--color-white);;
    text-align: center;
    gap: 20px;
}

footer > nav{
    display: flex;
}

footer > nav > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-around;
    list-style: none;
    text-align: left;
    gap:10px;
    margin:20px;
}

footer > nav > ul > li > a {
    color:  var(--color-black);
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s;
}

footer > nav > ul > li > a:hover {
    color:  var(--color-text-gray);;
}